/* ============BODY CUSTOM RESET============ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal !important;
    font-family: CircularBook, sans-serif;
    text-transform: none;
    text-decoration: none;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1.2;
    kerning: none !important;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}

body {
    overflow: hidden !important;
}


/* ============DEFAULT============ */
:root {
    --color-black:  #1E1729;
    --color-gray: #6E758A;
    --color-purple: #8641F2;
    --transition: all .32s ease-in 0s;
    --moz-transition: all .32s ease-in 0s;
    --webkit-transition: all .32s ease-in 0s;
    --o-transition: all .32s ease-in 0s;
 }

/* ============FONTS============ */
@font-face {font-family: 'CircularBold';
    /* src: url('../assets/fonts/CircularStd-Bold.otf') format('opentype'); */
    src: url('../assets/fonts/CircularStd-Bold.eot') format('embedded-opentype');
    src: url('../assets/fonts/CircularStd-Bold.ttf') format('truetype');
    src: url('../assets/fonts/CircularStd-Bold.woff') format('woff');
    src: url('../assets/fonts/CircularStd-Bold.woff2') format('woff2');
}

@font-face {font-family: 'CircularMedium';
    /* src: url('../assets/fonts/CircularStd-Medium.otf') format('opentype'); */
    src: url('../assets/fonts/CircularStd-Medium.eot') format('embedded-opentype');
    src: url('../assets/fonts/CircularStd-Medium.ttf') format('truetype');
    src: url('../assets/fonts/CircularStd-Medium.woff') format('woff');
    src: url('../assets/fonts/CircularStd-Medium.woff2') format('woff2');
}

@font-face {font-family: 'CircularBook';
    /* src: url('../assets/fonts/CircularStd-Book.otf') format('opentype'); */
    src: url('../assets/fonts/CircularStd-Book.eot') format('embedded-opentype');
    src: url('../assets/fonts/CircularStd-Book.ttf') format('truetype');
    src: url('../assets/fonts/CircularStd-Book.woff') format('woff');
    src: url('../assets/fonts/CircularStd-Book.woff2') format('woff2');
}

* {
    text-align: center;
}

/* h1 {
    font-family: 'CircularStd-Bold', sans-serif;
    font-size: 80px;
    color: var(--color-black);
    margin-bottom: 72px;
} */

span {
    font-family: CircularMedium, sans-serif;
    font-size: 24px;
    color: var(--color-gray);
    background-color: transparent;
    border: 2px solid rgba(110, 117, 138, 0.32);
    border-radius: 100px;
    padding: 8px 16px;
}

a {
    font-family: CircularBook, sans-serif;
    font-size: 16px;
    color: var(--color-gray);
    text-decoration: none;
    padding: 0px 8px;
    transition: var(--transition);
    -moz-transition: var(--moz-transition);
    -webkit-transition: var(--webkit-transition);
    -o-transition: var(--o-transition);
}

a:hover {
    color: var(--color-purple);
    text-decoration: none;
}

a:active {
    color: var(--color-purple);
    opacity: 0.72;
}

/* ============LAYOUT============ */
.main-content {
    height: 96vh;
    position: relative;
    top: 50%;
}

.main-content .content-container {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 92px;
    display: block;
    margin: 0 auto;
    padding-bottom: 64px;
}

#h1 {
    width: 328px;
    display: block;
    margin: 0 auto;
    padding-bottom: 72px;
}